button {
	border: rgb(229, 229, 229);
	border-radius: 10px;
	padding: 10px 20px !important;
	font-size: 20px;
}

.btn-container {
	@apply flex flex-wrap justify-between items-center gap-6 mb-6 pb-4 border-b border-[#a8aeb1];
}

.new-application-btn {
	background-color: #2a6bb5;
	@apply px-6 text-white text-[14px] rounded-lg font-semibold transition-all shadow-md whitespace-nowrap ml-auto;
}

.new-application-btn:hover {
	background-color: #8691ed;
}

.filter-btn {
	@apply px-4 py-2 rounded-lg font-medium text-[14px] transition-all;
}

.btn {
	background-color: rgb(227, 227, 227);
}

.btn:hover {
	background-color: rgb(200, 214, 243);
}

.btn-active {
	background-color: #4a90e2 !important;
	font-weight: bold;
	color: white;
}
