.cards-container {
	@apply w-full flex flex-wrap justify-items-start gap-x-12 gap-y-6 text-[14px];
}

.card-contents {
	@apply flex flex-wrap border p-4 gap-8 hover:shadow-xl transition-shadow duration-200;
}

.company-name {
	font-size: 20px !important;
}

button {
	padding: 10px !important;
}

button:hover {
	background-color: #f5f0f0;
}