button {
    border: rgb(229, 229, 229);
    border-radius: 10px;
    padding: 10px 20px;
    margin-right: 20px;
    font-size: 20px;
    
}

.filter-buttons {

}

.new-application-btn {
  background-color: #bb8fe6;
}


.new-application-btn:hover {
  background-color: #d3acfa;
}

.btn {
  background-color: rgb(227, 227, 227);
}

.btn:hover {
  background-color: rgb(200, 214, 243);
}

.btn-active {
  background-color: #4A90E2;
  font-weight: bold;
  color: white;
}