button {
	border: rgb(229, 229, 229);
	border-radius: 10px;
	padding: 10px 20px !important;
	font-size: 20px;
}

.btn-container {
	@apply flex flex-wrap justify-between items-center gap-6 mb-6 pb-4 border-b border-[#a8aeb1];
}

.new-application-btn {
	background-color: #2a6bb5;
	@apply px-6 py-2 text-white rounded-lg font-semibold transition-all shadow-md whitespace-nowrap ml-auto;
}

.new-application-btn:hover {
	background-color: #8691ed;
}

.filter-btn {
	@apply mt-6 mb-4 px-4 py-2 rounded-lg font-medium text-[18px] transition-all;
}

.btn {
	background-color: rgb(227, 227, 227);
}

.btn:hover {
	background-color: rgb(200, 214, 243);
}

.btn-active {
	background-color: #4a90e2;
	font-weight: bold;
	color: white;
}
